@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

@font-face {
  font-family: "Red Alert";
  src: url("./assets/red-alert.ttf") format("truetype");
}

@font-face {
  font-family: "Rittswood";
  src: url("./assets/rittswood.ttf") format("truetype");
}
